.section {
  margin: 0;
  min-width: 0;
}

.avatar {
  display: flex;
  margin: 0;
  min-width: 0;
  align-items: center;
  justify-content: center;
}
.avatar img {
  pointer-events: none;
  user-select: none;
  height: auto;
  min-width: 0;
  width: 100%;
}

.about {
  min-width: 0;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}
.about h3 {
  min-width: 0;
  margin: 0;
  color: rgb(15, 33, 55);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}
.about p {
  font-size: 16px;
  color: #7589a1;
  letter-spacing: -0.2px;
  margin: 0;
  margin-top: 10px;
}

.socialLinks {
  margin: 0;
  min-width: 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.socialLinks a {
  margin: 0;
  min-width: 0;
  display: inline-flex;
  margin-right: 10px;
}

@media (max-width: 991px) {
  .about h3 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .about {
    text-align: center;
  }
  .socialLinks {
    justify-content: center;
  }
  .avatar img {
    width: auto !important;
  }
}
