.section {
  background-color: #ffffff;
  padding-top: 6.5em;
  min-height: 60vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2em;
  padding-top: 1em;
  margin-bottom: 4em;
  border: 2px solid rgb(0, 0, 0);
  width: 95%;
}

.originInput {
  width: 100%;
  height: 40px;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
.originInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.checkboxsRow {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.checkboxsRow div {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.submitRow {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.submitRow button {
  background-color: #11956d;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 0.25em;
  padding: 0.6em 0.75em;
  font-size: 1.5em;
  font-weight: 700;
}

.invalidFeedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
.invalid {
  display: block;
}
.locationInvalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.locationInvalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
